{% extends "base.html" %}

{% block content %}

<div class="flex justify-between items-center py-2">
    <div class="flex items-center">
        <a href="/" class="heading">
            Passkeys
        </a>
    </div>
    <a href="/new-key" class="button ~neutral @low">
        New Passkey
    </a>
</div>

<div class="space-y-2">
    {% for key in passkeys %}
        {% include "components/key_tile.html" %}
    {% endfor %}

    {% if passkeys.len() == 0 %}
        <p class="text-gray-600">
            No passkeys found. This shouldn't happen!
        </p>
    {% endif %}
</div>
<hr class="sep h-4">
<div class="heading">Access Logs</div>
{% include "components/access_logs.html" %}

{% endblock %}