<table class="table">
    <thead>
    <tr>
        <th>Key</th>
        <th class="!hidden sm:!table-cell">IP Address</th>
        <th>Location</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span class="chip ~blue font-bold">iCloud Key</span></td>
        <td class="font-mono !hidden sm:!table-cell">8.8.8.8</td>
        <td class="italic">London, GB</td>
        <td>just now</td>
    </tr>
    <tr>
        <td><span class="chip ~blue font-bold">iCloud Key</span></td>
        <td class="font-mono !hidden sm:!table-cell">8.8.8.8</td>
        <td class="italic">London, GB</td>
        <td>2 days ago</td>
    </tr>
    <tr>
        <td><span class="chip ~blue font-bold">iCloud Key</span></td>
        <td class="font-mono !hidden sm:!table-cell">8.8.8.8</td>
        <td class="italic">London, GB</td>
        <td>7 days ago</td>
    </tr>
    </tbody>
</table>